{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block meta_description %}Inscrivez-vous sur notre blog pour accéder à des recettes exclusives et bien plus encore !{% endblock %}

{% block body %}
    <div class="bording-container">
        <div class="bording-box">
            <h2 class="section-title">Inscription</h2>

            {{ form_start(registrationForm) }}

            <div class="common-style">
                {{ form_row(registrationForm.username, {
                    'label': 'Nom d\'utilisateur',
                    'attr': {
                        'class': 'rounded-input',
                         'placeholder': 'Entrez votre nom d\'utilisateur'
                    }
                }) }}
            </div>

            <div class="common-style">
                {{ form_row(registrationForm.email, {
                    'label': 'Email',
                    'attr': {
                        'class': 'rounded-input',
                        'oninput': 'validateEmail()',
                        'placeholder': 'Entrez votre email'
                    }
                }) }}
                <small id="emailHelp" class="form-text text-muted">
                    Votre email doit être une adresse valide.
                </small>
            </div>

            <div class="common-style">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                <div class="password-input-container">
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {
                            'class': 'rounded-input',
                            'oninput': 'validatePassword()',
                            'placeholder': 'Entrez votre mot de passe'
                        }
                    }) }}
                    <span class="toggle-password" onclick="togglePassword()">Afficher</span>
                </div>
                <small id="passwordHelp" class="form-text text-muted">
                   Votre mot de passe doit comporter au moins 6 caractères, contenir au moins une majuscule et un caractère spécial.
                </small>
            </div>

            <button type="submit" id="registerButton" class="bording-button" disabled>Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <script>
        function validateEmail() {
            const email = document.querySelector('#registration_form_email').value;
            const emailHelp = document.querySelector('#emailHelp');
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let message = '';

            if (email.length === 0) {
                message = 'Email est requis.';
            } else if (!emailRegex.test(email)) {
                message = 'Format d\'email invalide. Un email valide doit ressembler à : user@example.com.';
            } else {
                message = 'Adresse email valide.';
            }

            emailHelp.style.color = emailRegex.test(email) ? 'green' : 'red';
            emailHelp.innerText = message;
            validateForm();
        }

        function validatePassword() {
            const password = document.querySelector('#registration_form_plainPassword').value;
            const passwordHelp = document.querySelector('#passwordHelp');
            let message = '';
            const minLength = 6;
            const hasUpperCase = /[A-Z]/.test(password);
            const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password);

            if (password.length === 0) {
                message = 'Mot de passe est requis.';
            } else if (password.length < minLength) {
                message = `Votre mot de passe doit comporter au moins ${minLength} caractères. Actuellement, il a ${password.length} caractères.`;
            } else if (!hasUpperCase) {
                message = 'Votre mot de passe doit contenir au moins une lettre majuscule.';
            } else if (!hasSpecialChar) {
                message = 'Votre mot de passe doit contenir au moins un caractère spécial.';
            } else {
                message = 'Mot de passe valide.';
            }

            passwordHelp.style.color = (password.length >= minLength && hasUpperCase && hasSpecialChar) ? 'green' : 'red';
            passwordHelp.innerText = message;
            validateForm();
        }

        function validateForm() {
            const emailHelp = document.querySelector('#emailHelp');
            const passwordHelp = document.querySelector('#passwordHelp');
            const registerButton = document.querySelector('#registerButton');
            if (emailHelp.style.color === 'green' && passwordHelp.style.color === 'green') {
                registerButton.disabled = false;
            } else {
                registerButton.disabled = true;
            }
        }

        function togglePassword() {
            const passwordField = document.querySelector('#registration_form_plainPassword');
            const togglePasswordButton = document.querySelector('.toggle-password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePasswordButton.innerText = 'Hide';
            } else {
                passwordField.type = 'password';
                togglePasswordButton.innerText = 'Show';
            }
        }
    </script>
{% endblock %}
